*{
    margin:0;
    padding: 0;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(112, 137, 102, 0.7),rgba(30, 44, 24, 0.7)), url(images/university.avif);
    background-position: center;
    background-size: cover;
    position: relative;
    
}


